#map {
    height: 800px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.map-container {
    position: relative;
    max-width: 100%;
    padding: 20px 10px;
    margin: 0 auto;
    background: #f2f2f2;
}